.logo {
  width: 100%;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 3px;
  display: block;
  text-align: center;
  padding-top: 30px;
  z-index: 3;
  position: relative;
  -webkit-font-smoothing: antialiased;

  @include grid-media($md) {
    position: fixed;
    width: auto;
    float: left;
    display: inline;
    text-align: left;
    margin-left: 3%;
    margin-top: 2%;
  }

  &:hover {
    color: $green;
    transition: all .4s ease-in-out;
  }

  &__mobile {
    display: block;

    @include grid-media($md) {
      display: none;
    }
  }
}