{% if block.acf_fc_layout == 'callout' %}

    <section class="callout tinted-background">
        <div class="row row--padding-top row--padding-bottom callout__row callout__row--rtl">
            <div class="column column--one-third column--margin-bottom column--margin-top slide-in slide-in--right slide-in--go">
                <img class="image" src="{{ TimberImage(block.image) }}">
            </div>
            <div class="column column--two-third column--margin-bottom column--margin-top slide-in slide-in--bottom slide-in--go">
                <div>
                    <h1>{{ block.header }}</h1>
                    <p>{{ block.article }}</p>
                    {% if block.button == 1 %}
                        <a class="button" href="{{ block.button_link }}">{{ block.button_text }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endif %}
