{% for block in post.get_field('content') %}

    {% if block.acf_fc_layout == 'column' %}

        {% include 'content-blocks.column.twig' %}

    {% elseif block.acf_fc_layout == 'callout' %}

        {% include 'content-blocks.callout.twig' %}

    {% elseif block.acf_fc_layout == 'partners' %}

        {% include 'content-blocks.partners.twig' %}

    {% endif %}

{% endfor %}
