 {% if block.acf_fc_layout == 'column' %}

    {% if block.inversed_colors == 0 %}

        {% if block.double_block == 0 %}

            <section class="row row--padding-top  row--padding-bottom">
                <div class="column column--whole-shift align--center column--margin-bottom column--margin-top">
                    <h1>{{ block.header }}</h1>
                    <p>{{ block.article }}</p>

                    {% if block.button == 1 %}
                        <a class="button" href="{{ block.button_link }}">{{ block.button_text }}</a>
                    {% endif %}
                </div>
            </section>

        {% endif %}

    {% elseif block.inversed_colors == 1 and block.double_block == 0%}

        <div class="inversed-color">
            <section class="row row--padding-top  row--padding-bottom">
                <div class="column column--whole-shift align--center column--margin-bottom column--margin-top">
                    <h1>{{ block.header }}</h1>
                    <p>{{ block.article }}</p>

                    {% if block.button == 1 %}
                        <a class="button" href="{{ block.button_link }}">{{ block.button_text }}</a>
                    {% endif %}
                </div>
            </section>
        </div>

    {% endif %}

    {% if block.inversed_colors == 1 and block.double_block == 1 %}

    <div class="inversed-color">
        <section class="row row--padding-top row--padding-bottom">
            <div class="column column--half column--margin-bottom column--margin-top">
                <h2>{{ block.header }}</h2>
                <p>{{ block.article }}</p>
                {% if block.button == 1 %}
                    <a class="button" href="{{ block.second_button_link }}">{{ block.button_text }}</a>
                {% endif %}
            </div>
            <div class="column column--half column--margin-bottom column--margin-top">
                <h2>{{ block.second_header }}</h2>
                <p>{{ block.second_article }}</p>
                {% if block.second_button == 1 %}
                    <a class="button" href="{{ block.second_button_link }}">{{ block.second_button_text }}</a>
                {% endif %}
            </div>
        </section>
    </div>

    {% endif %}

{% endif %}

<!--
array (size=11)
  'acf_fc_layout' => string 'column' (length=6)
  'inversed_colors' => boolean false
  'header' => string 'Een energieneutraal Baflo & Rasquert is mogelijk' (length=48)
  'article' => string 'Ons plan is om Baflo en Rasquert duurzamer te maken, door het gebruik van wind- en zonne-energie.
        Goed voor mens, milieu en de portemonnee! Om deze plannen uit te kunnen voeren, willen we een coöperatie oprichten.
        Op deze manier kunnen we meer bereiken.' (length=257)
  'button' => boolean true
  'button_text' => string 'Wat willen we?' (length=14)
  'double_block' => boolean false
  'second_header' => string '' (length=0)
  'second_article' => string '' (length=0)
  'second_button' => boolean false
  'second_button_text' => string '' (length=0)
  -->
