<section class="row row--padding-top row--padding-bottom delay-fade partners">
    <h1 class="partners__title align--center">Onze partners</h1>
    {% for post in partners %}
        <a class="partners__link partners__link--one-sixth fade-in align--center fade-in--go" href="{{ post.custom.website }}" title="Bezoek de website van {{ post.post_name }}" target="_blank">
            <figure class="partners__figure">
                <img class="partners__logo" src="{{ TimberImage(post.custom.image) }}">
            </figure>
        </a>
    {% endfor %}
</section>
