<footer class="footer">
    <div class="row row--padding-top row--padding-bottom">
        <div class="column column--half">
            © 2017 - Duurzaam Baflo
            - <a class="footer__link" href="https://www.duurzaambaflo.nl/disclaimer/" title="Lees onze disclaimer">Disclaimer</a>
            | Realisatie: <a class="footer__link" href="https://www.studio1902.nl" target="_blank">Studio 1902</a>
        </div>
        <div class="column column--half align--right">
            <span class="footer__social-link-wrapper">
                <a class="footer__link" href="https://www.facebook.com/duurzaambaflo/" target="_blank" title="Volg ons op Facebook">Facebook</a>
            </span>
            /
            <span class="footer__social-link-wrapper">
                <a class="footer__link" href="http://eepurl.com/c8GWj5" target="_blank" title="Schrijf je in voor onze nieuwsbrief">Nieuwsbrief</a>
            </span>
        </div>
    </div>
</footer>
