<div class="video__wrapper">
    <video autoplay loop class="header__background" muted>
        <source src="{{theme.link}}/assets/img/duurzaam-baflo-header.mp4" type="video/mp4">
    </video>
    <a href="/" class="logo">Duurzaam Baflo</a>
    <div class="header__content">
        <span class="header__content-prefix">Voor een</span>
        <span class="header__content-title">Energieneutraal</span>
        <span class="header__content-suffix">Baflo &amp; Rasquert</span>
    </div>
    <div class="hero__scroll scroll">
        <img class="scroll__image" src="{{ theme.link }}/assets/blocks/scroll/scroll.svg"><br>
        <span class="scroll__text">Scroll naar beneden</span>
    </div>
</div>
<header class="header">
    <div class="header__content header__mobile">
        <span class="header__content-prefix">Voor een</span>
        <span class="header__content-title">Energieneutraal</span>
        <span class="header__content-suffix">Baflo &amp; Rasquert</span>
    </div>
    <!-- Mobile navigation trigger (hidden on desktop) -->
    <nav class="header__navigation header__navigation--mobile">
        <a href="/" class="logo logo__mobile">Duurzaam Baflo</a>
        <ul class="header__navigation-list">
            {% for item in menu.items %}
                <li class="header__navigation-item {{ item.classes|join(' ') }}">
                    <a class="header__navigation-link" href="{{ item.link }}">{{ item.title }}</a>
                    {% if item.children %}
                        <ul class="header__navigation-sublist">
                            {% for child in item.children %}
                                <li class="header__navigation-sublist-item">
                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

    <a class="navigation-toggle" id="js-menu-toggle">
        <span class="navigation-toggle__menu-label">Menu</span>
        <span class="navigation-toggle__active-label">Sluit</span>
    </a>
</header>
