<!doctype html>

<html {{site.language_attributes}}>

    <head>

    	<meta charset="{{site.charset}}" />
    	<meta name="description" content="{{site.description}}">
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, viewport-fit=cover"/>

        <link rel="apple-touch-icon" sizes="180x180" href="{{theme.link}}/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{theme.link}}/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{theme.link}}/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{theme.link}}/assets/favicons/manifest.json">
        <link rel="mask-icon" href="{{theme.link}}/assets/favicons/safari-pinned-tab.svg" color="#71a540">
        <link rel="shortcut icon" href="{{theme.link}}/assets/favicons/favicon.ico">
        <link rel="stylesheet" href="{{theme.link}}/styles.min.css">
        <meta name="msapplication-config" content="{{theme.link}}/assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#71a540">

        <script src="https://use.typekit.net/pzc3okw.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        {{ function('wp_head') }}

    </head>

    <body>
