.navigation-toggle {
  position: fixed;
  display: block;
  height: 60px;
  width: 60px;
  z-index: 4;
  text-align: center;

  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;

  cursor: pointer;

  line-height: 60px;
  font-size: 12px;

  border: 2px solid $white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background: $green;

  @include grid-media($md) {
    display: none;
  }

  &__menu-label {
    display: block;
  }

  &__active-label {
    background: darken($green, 15%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 999;
    display: none;
  }
}