.row {
    @include grid-container;

    max-width: $grid-max-width;
    margin: 0 auto;

    &--padding-top {
        @include grid-media($xs-only) {
            padding-top: $xs-spacing;
        }

        @include grid-media($sm-only) {
            padding-top: $sm-spacing;
        }

        @include grid-media($md-only) {
            padding-top: $md-spacing;
        }

        @include grid-media($lg-only) {
            padding-top: $lg-spacing;
        }

        @include grid-media($xl) {
            padding-top: $xl-spacing;
        }
    }

    &--padding-bottom {
        @include grid-media($xs-only) {
            padding-bottom: $xs-spacing;
        }

        @include grid-media($sm-only) {
            padding-bottom: $sm-spacing;
        }

        @include grid-media($md-only) {
            padding-bottom: $md-spacing;
        }

        @include grid-media($lg-only) {
            padding-bottom: $lg-spacing;
        }

        @include grid-media($xl) {
            padding-bottom: $xl-spacing;
        }
    }
}
