.scroll {
  position:absolute;
  text-align: center;
  top:95vh;
  transform:translateY(-95%);
  width:100%;
  margin-bottom: 200px;

  z-index: 4;

  &__text {
    padding-bottom: 50px;
    color: $white;
  }

}