.header {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: url("assets/img/duurzaam-baflo-header.jpg") center;
  -webkit-background-size: cover;
  background-size: cover;

  color: $white;
  text-transform: uppercase;

  &__mobile {
    @include grid-media($md) {
      display: none;
    }
  }


  &__content {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:last-child {
      display: block;
      @include grid-media($md) {
        display: none;
      }
    }

    &-prefix, &-suffix, &-title {
      line-height: 1;
      text-align: center;
      font-size: 28px;
      margin: 0 auto;
      display: block;
      padding: 20px;
      letter-spacing: 2px;
      z-index: 4;

      @include grid-media($md) {
        font-size: 40px;
      }
    }

    &-prefix {
      color: rgba(255,255,255,0.65);
      margin-top: 300px;
      font-size: 16px;
      text-transform: uppercase;

      @include grid-media($md) {
        margin-top: 400px;
      }
    }

    &-title {
      color: $white;
      font-family: "adobe-garamond-pro",serif;
      @include grid-media($md) {
        font-size: 48px;
      }
      text-transform: uppercase;
    }

    &-suffix {
      color: rgba(255,255,255,0.65);
      text-transform: none;
      font-style: italic;
      font-family: "adobe-garamond-pro",serif;
    }
  }

  @include grid-media($md) {
    width: 100%;
    height: auto;
    background: none;
  }

  &__background {
    display: none;

    @include grid-media($md) {
      z-index: 1;
      position: absolute;
      display: block;
      width: auto;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__navigation {
    display: block;
    &-list {
      float: left;
      display: none;
      @include grid-media($md) {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 40px;
        margin-right: 3%;
        float: right;
        z-index: 4;
        display: inline;
      }
    }
    &-item {
      padding: 15px 40px;
      list-style: none;
      @include grid-media($md) {
        padding: 15px 20px;
      }
      &:first-child a {
        font-weight: bold;
        @include grid-media($md) {
          color: $green;
        }
      }
      &:last-child {
        @include grid-media($md) {
          padding: 13px 28px;
          border: 2px solid $green;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;

          float: right;

          background: $green;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;

          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;

          &:hover {
            background-color: transparent;
            color: $green;
          }
        }
      }
      @include grid-media($md) {
        display: inline;
        float: left;
      }
    }

    &-link {
      width: auto;
      color: $white;
      text-decoration: none;
      display: inline-block;

      @include grid-media($md) {
        color: $white;
        text-align: right;
      }

      &:hover {
        color: $green;
        transition: all .4s ease-in-out;
      }
    }
    &--active &-list {
      display: block;
      padding-top: 40px;
      position: fixed;
      padding-bottom: 30px;
      background: $green;
      bottom: 0;
      width: 100%;
      z-index: 3;
    }
  }
}
.video__wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: none;
  @include grid-media($md) {
    display: block;
  }
}
.button {
  width: auto;
  display: inline-block;
  position: relative;
  clear: both;
  margin: 0 auto;
  text-align: center;

  padding: 13px 28px;
  border: 2px solid $green;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  background: $green;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  &:hover {
    background-color: transparent;
    color: $green;
  }
}