.inversed-color {
  background: $green;

  .button {
    border: 2px solid $white;

    &:hover {
      background: $white;
      color: $green;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
  }

  p {
    color: $white;
  }
}