.tinted-background {
  background: #F6F6F6;

  .image {
    width: 90%;
    text-align: center;
    border: 6px solid $white;
    margin: 3%;
    box-shadow: 0px 0px 1px 0px #767471;
  }

  h1 {
    color: rgb(61, 57, 52);
    text-align: center;
  }
}