body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-default;
    font-size: $font-size-default;
    line-height: $line-height-default;
    letter-spacing: 2px;
    color: $color-text-default;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: "adobe-garamond-pro",serif;
    font-size: 2.53125rem;
    line-height: 1.2em;
    margin-bottom: 1.8em;
    position: relative;

    &:after {
        @extend .border;
    }
}

h2 {
    color: $white;
    margin-bottom: .9em;
    font-size: 1.875rem;
    line-height: 1.2em;
    font-family: "adobe-garamond-pro",serif;

}

p {
    margin-bottom: 40px;
    max-width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

b {
    font-family: $font-family-default-bold;
}

::selection {
    background: $color-action;
    color: $color-light;
}

::-moz-selection {
    background: $color-action;
    color: $color-light;
}
