// Colors.
$white:                         rgb(255, 255, 255);
$black:                         rgb(0, 0, 0);
$green:                         rgb(113, 165, 64);
$grey-70:                       rgb(61, 57, 52);
$grey-50:                       rgb(118, 116, 113);
$grey-20:                       rgb(246, 246, 246);
$red:                           rgb(208, 2, 27);

// Descriptive colors.
$color-light:                   $white;
$color-dark:                    $black;
$color-text-default:            $grey-50;
$color-title-default:           $grey-70;
$color-action:                  $green;
$color-valid:                   $green;
$color-error:                   $red;
$color-tinted-background:       $grey-20;
