$font-family-default:           "futura-pt", sans-serif;
$font-family-default-bold:      "futura-pt-bold", sans-serif;
$font-family-alternate:         "adobe-garamond-pro", serif;

$font-size-h1:                  3.375rem;
$font-size-h2:                  2.5rem;
$font-size-default:             1rem;
$font-size-small:               .75rem;
$font-size-large:               1.25rem;
$font-size-logo:                1.5rem;

$line-height-heading:           1.2em;
$line-height-default:           1.5em;
