.button {
  width: auto;
  display: inline-block;
  position: relative;
  clear: both;
  margin: 0 auto;
  text-align: center;

  padding: 13px 28px;
  border: 2px solid $green;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  background: $green;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  &:hover {
    background-color: transparent;
    color: $green;
  }
}