.footer {
  color: $color-text-default;
  background: #3e3a35;

  a {
    color: $color-text-default;

    &:hover {
      color: $white;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
  }
}
