.partners {
  display: block;
  margin: 0 auto;
  text-align: center;

  h1:after {
    margin-bottom: 50px;
  }

  &__logo {
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: all .4s ease-in-out;


    &:hover {
      filter: none;
    }
  }

  &__figure {
    position: relative;
    width: 75%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;

    @include grid-media($md) {

    }
  }

  &__link {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    width: 100%;
    cursor: pointer;
    text-align: center;

    @include grid-media($md) {

      &--one-sixth {
        width: 16.6%;
      }
      padding:0 50px 50px 50px;
    }
  }
}